body {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 30px;
}

.login {
    background-color: #ff8070;
    width: 400px;
    color: #000000;
    padding: 40px;
    box-shadow: 10px 10px 25px #00000080;
    text-align: center;
}

.login input {
    display: block;
    background: none;
    margin-left: 70px;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
    outline: none;
    color: #000000;
}




.login input[type="text"],
.login input[type="password"] {
    border: 2px solid #ce3a3a;
    width: 220px;
}

.login input[type="submit"] {
    width: 150px;
    border: 2px solid #2ecc71;
    cursor: pointer;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border-color: #d8db1e;
    width: 280px;
    transition: 0.5s;
}

.login input[type="submit"]:hover {
    background-color: #2ecc71;
    transition: 0.5s;
}

main {

    flex: 1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    color: #fff;
}

/* footer h5 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */