/* footer */

h4 {
	text-align: center;
	margin-top: 25%;
	background-color: #d1d1d1;
	padding: 20px;

}


footer {
	position: fixed;
	padding-left: 15px;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	color: #FFF;
}